*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav_header {
    display: flex;
    background-color: #2D6A4F;
    justify-content: space-between;
    height: 64px;
    padding: 24px;
}

#nutribox_logo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 22px;
    align-self: center;
}

.menu_superior {
    display: flex;
    list-style: none;
    color: white;
    gap: 32px;
}

.item_menu_superior {
    text-decoration: none;
    color: white;
    transition: 0.3s;

}
.item_menu_superior:hover { 
    color: rgb(255, 179, 0); 
}

/*.alinhamento_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.hero {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 1100px;
    padding: 96px;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
}

#titulo_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 52px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    align-self: center;
    margin-bottom: 24px;
}

#texto_hero {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: orange;
    font-size: 16px;
    align-self: center;
    margin-bottom: 12px;
}

#subtitulo_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    align-self: center;
    margin-bottom: 40px;
}

.button_hero {
    background-color: #52b788;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 16px 40px;
    border-radius: 6px;
}

/*
    porque precisei usar o align-self:center se ja 
tinha usado o align-content no pai para centralizar 
os itens no container
    porque eles sem align self eles ocuparam a linha toda
 ja que sao item de um flex box
    como faco pra quebrar linhas sem usar o BR (Talves usar o SPAM!) tentar amanha
    E porque a proporcao da tela ta tao diferente da imagem
 que foi mandada junto com o projeto.
 */

 .beneficios {
    display: flex;
    gap: 24px;
    padding: 48px;
    justify-content: center;
    width: 1100px;
 }

 .card_beneficios {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    border: 1px solid #E8E8E4;
    border-radius: 8px;
    flex-wrap: wrap;
    flex: 1;
  
 }

 .emoji {
    margin-bottom: 12px;
    font-size: 40px;
 }

 .titulo_card_beneficios {
    margin-bottom: 6px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2D6A4F;
 }

 .descricao_card_beneficios {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #52b788;
 }

 .cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F7F2;
    padding: 80px;
    
 }

 .titulo_cardapio {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2D6A4F;
    padding-bottom: 12px;
 }

 .subtitulo_cardapio {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #666666;
    font-size: 18px;
    padding-bottom: 48px;
 }
 
 .cards_cardapio {
    display: flex;
    gap: 24px;
 }

 .card_cardapio {
    display: flex;
    flex-direction: column;
    width: 300px;  
    border-radius: 12px;
    border: 1px transparent black;
    overflow: hidden;
    background-color: white;
 }

 .imagem_card_cardapio{
    height: 200px;
    object-fit: cover;
 }

 .parte_inferior_card {
    display: flex;
    padding: 24px;
    align-items: first baseline;
 }

 .titulo_card_cardapio{

    padding-bottom: 12px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
 }

 .parte_inferior_card_direita {
    background-color: #52B788;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    padding: 2px;
    padding: 10px;
 }
 
 .descricao_prato {
    list-style: none;
    padding-bottom: 16px;
 }

 .item_descricao_prato::before {
    content: "✓ "; 
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: green;     
    margin-right: 10px;
 }

 .item_descricao_prato {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #555555;
 }

 .preco_prato {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2D6A4F;
 }